@keyframes moving-text-1{
    0%{
        transform: translate(0,120%);
    }
    
    40%{
        transform: translate(0,0);
    }
    60%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(0,-120%);
    }
}

.blocOnHeader:hover{
    color: rgba(0, 0, 0, 0.227);
}

button:hover{
    cursor:pointer;
    text-decoration: underline;
}