@keyframes moving-text-1{
    0%{
        transform: translate(-120%,0);
    }
    
    100%{
        transform: translate(0,0);
    }
}

.blocOnHeader:hover{
    color: #393E46;
}

button:hover{
    cursor:pointer;
    text-decoration: underline;
}

/* ScrollBarStyle */

/* width */
::-webkit-scrollbar {
    /* width: 0px; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }