@keyframes fateOut{
    0% {
        background-color: aliceblue;
        color:black;
    }
    30% {
        background-color: aliceblue;
        color:black;
    }
    100%{
        background-color: rgba(240, 248, 255, 0);
        color:rgba(0, 0, 0, 0);
    }
}

.blocOnHeader:hover{
    color: rgba(0, 0, 0, 0.227);
}

button:hover{
    cursor:pointer;
    text-decoration: underline;
}