@keyframes textbox_movein {
  0%{
    transform: translateX(150%);
    animation-timing-function: ease-out; /*ตอนแรกเร็วต่อมาช้า ใช้คู่กับ east-in ที่ 100%*/
  }
  50%{
    animation-timing-function: ease-in;
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes picture_movein {
  0%{
    transform: translateX(-150%);
    animation-timing-function: ease-out; /*ตอนแรกเร็วต่อมาช้า ใช้คู่กับ east-in ที่ 100%*/
  }
  50%{
    animation-timing-function: ease-in;
  }
  100%{
    transform: translateX(0%);
  }
}