*{
    padding:0;
    margin: 0;
    font-family: 'angsana new';
    font-size: 20px;
    scroll-behavior: smooth;
    color:white;
}


body{
    background-color: #00ADB5;
    overflow-x: hidden;
}

header{
    background-color: #222831;
    width: 100vw;
    height: 50px;
    text-align: center;
    /* position:fixed; */
}

.boxct_inside_container{
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    /* margin-left: auto;
    margin-right: auto; */
}

#contract{
    background-color: rgba(0, 213, 255, 0.853);
    border-radius: 5px;
    width: 100px;
}

.bg-show{
    background-color: #bccef825;
}

.box-shadow{
    box-shadow: 10px 10px #bccef825;
}

#pageTracker{
    height: 5px;
    background-color:black;
    position: fixed;
}

#SelectContant{
    justify-content: space-between;
    display: flex;
    padding:0.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.blocOnHeader{
    margin: 0px;
    padding: auto;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.bg-white{
    background-color: #EEEEEE;
}

.bg-greenblue{
    background-color: #00ADB5;
}

.container{
    height: auto;
    width: 100%;
    text-align: center;
    display: block;
}

.box-border{
    border: 2px solid black;
}

#First-Self-img{
    width: 390px;
    margin: 64px;
    margin-left: 0px;
    margin-right: 0px;
    /* margin-right: 2vw; */
    height: 500px;
    font-weight: 1800;
    overflow:hidden;
}

.self-img{
    width: 100%;
    transform:translate(0,-20%);
}

.display-inline-block{
    display:inline-block
}

.script-Text{
    font-size: 30px;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.headingAj{
    width: fit-content;
}

.inner_box_adj{
    margin: 64px;
    margin-left: 0vw;
    margin-right: 20px;
    /* margin-left: 2vw; */
    width: 50vw;
    height: 500px;
    font-weight: 1800;
    padding-left: 20px;
    text-align:left;
    overflow:hidden;
}

.no-margin{
    margin:0;
}

.inner_img_adj{
    width: 390px;
    margin: 64px;
    margin-left: 0px;
    margin-right: 0px;
    /* margin-right: 2vw; */
    height: 500px;
    font-weight: 1800;
    overflow:hidden;
}

#firstText{
    margin: 64px;
    margin-left: 0vw;
    margin-right: 20px;
    /* margin-left: 2vw; */
    width: 50vw;
    height: 500px;
    font-weight: 1800;
    padding-left: 20px;
    text-align:left;
    overflow:hidden;
}

.float-left{
    float: left;
}

.float-right{
    float:right;
}

.head-text{
    font-size: 75px;
    text-shadow:2px 2px rgb(0, 0, 0);
}

.color-white{
    color:white;
}

#startText{
    width: 100vw;
    height: 100vh;
    float:left;
    position:absolute;
    align-content: center;
}

#MyProfile{
    background-color: #393E46;
}

.center{
    margin:auto;
    width: 50px;
}

#middle_in_header{
    width: 40vw;
    justify-content: space-between;
    display: flex;
}

#headerspace{
    width: 100%;
    height: 7vh;
    background-color: rgb(250, 216, 172);
}

#MyProfile_container{
    height: 100vh;
    display:flex;
    justify-content:space-between;
}

#profile_leftside{
    background-color: white;
    width: 44vw;
    height: 100vh;
}

#profile_rightside{
    background-color: white;
    width: 50vw;
    height: 100vh;

}

#profile_righside_down{
    background-color: rgb(229, 28, 28);
    width: 100vw;
    height: 100%;
}

#profile_rightside_up{
    background-color: rgb(230, 23, 23);
    width: 50px;
    height: 50px;
}

.font-larger{
    font-size: larger;
}

.ani-moving-x-1{
    transform:translate(120%,0);
    animation-name: moving-text-1;
    animation-duration: 3s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.ani-delay-2s{
    animation-delay: 2s;
}

.ani-delay-3s{
    animation-delay: 3s;
}
.ani-delay-6s{
    animation-delay: 6s;
}

.child-middle{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:auto;
}

.text-center{
    text-align: center;
}

#profile_img{
    width: 100px;
    height: 50px;
}

.bg-black{
    background-color:black;
}

.transition_test{
    transform: translate(0,0);
}

.fade-in{
    opacity: 0;
    transition: opacity 250ms ease-in;
    -webkit-transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.slide-in{
    
}

.from-left{
    grid-column: 2/3;
    transform: translateX(-100%);
}

.from-right{
    grid-column: 3/4;
    transform: translateX(100%);
}

.from-left,
.from-right{
    transition:opacity 250ms ease-in, transform 200ms ease-in;
    -webkit-transition:opacity 250ms ease-in, transform 200ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}