*{
    padding:0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body{
    background-color: rgb(250, 216, 172);
    height: 10000px;
}

header{
    width: 100vw;
    height: 7vh;
    text-align: center;
    position:fixed;
}

#SelectContant{
    justify-content: space-between;
    display: flex;
    padding:1rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.blocOnHeader{
    margin: 0px;
    padding: auto;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    text-decoration: none;
    color: black;
}

.container{
    background-color: rgb(250, 216, 172);
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex;
}

#firstText{
    margin: auto;
    font-weight: 1800;
    font-size: 100px;
}

#startText{
    width: 100vw;
    height: 100vh;
    float:left;
    position:absolute;
    animation-name: fateOut;
    animation-duration: 4s;
    align-content: center;
}

.center{
    margin:auto;
    width: 50px;
}

#middle_in_header{
    width: 40vw;
    justify-content: space-between;
    display: flex;
}

#headerspace{
    width: 100%;
    height: 7vh;
    background-color: rgb(250, 216, 172);
}

#MyProfile{
    height: 100vh;
    padding:1rem;
    padding-top:2rem;
}

#MyProfile_container{
    height: 100vh;
    display:flex;
    justify-content:space-between;
}

#profile_leftside{
    background-color: white;
    width: 44vw;
    height: 100vh;
}

#profile_rightside{
    background-color: white;
    width: 50vw;
    height: 100vh;
}

#profile_righside_down{
    background-color: rgb(229, 28, 28);
    width: 100vw;
    height: 100%;
}

#profile_rightside_up{
    background-color: rgb(230, 23, 23);
    width: 50px;
    height: 50px;
}