*{
    font-family: cursive;
    box-sizing: border-box;
}


body{
    /* background setting */
    background-image: url(Picture/01_BG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#MenuContact{
    width: 5vw;
    height:5vw;
    background-color: white;
    font-size: 1vw;
    
    position:sticky;
    top: 0;
}

#header{
    height:900px;
    font-size: 15vw;
    text-align:center;
    padding-top:25vh;
    color:whitesmoke;
}

#information{
    height: 900px;
    display: flex;
}

#inspiration{
    width: 50%;
    margin-right: 30px;
    /* font */
    font-size: 24px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#inspiration::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgba(173, 216, 230, 0.108);
}
#inspiration::-webkit-scrollbar-thumb {
    background-color: rgb(88, 189, 223);
}

#myselfpic{
    height: 100%;
    width: 100%;
}

#codeSkill{
    height: 70vh;
}

#imgcontainer{
    margin-left: auto;
    margin-right: 15px;
    width: 50vw;
    height: auto;
}

.fontText{
    text-shadow: 7px 7px black;
}



@media screen and (max-width:1300px){
    #information{
        
        display: flex;
        flex-direction: column;
    }

    #imgcontainer{
    margin: 0 auto;
    margin-top: 0 auto;
    margin-bottom: 10vh;
    width: 70vw;
    }
    
    #inspiration{
        width: 100%;
    }
}
