#PORTFOLIO_TEXT{
    font-size: 250%;
    text-decoration:underline;
    letter-spacing: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}